html(lang='en')
  head
    meta(charset='UTF-8')
    title Covid Page
    link(rel='stylesheet', type='text/css', href='index.css')
  body
    | Hello #{name}
    | 
    br
    a(class='button', href="/") Back to Home Page